* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #1c2128;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture__title {
  margin-bottom: 1rem;
  text-align: center;
}

.profile-picture__image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.profile-picture__preview {
  position: relative;
  cursor: pointer;
}

.profile-picture__edit {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.profile-picture__edit button {
  border: none;

  background-color: #0d1117;
  padding: 4px 8px;

  border: 1px solid #30363d;
  border-radius: 6px;

  font-size: 20px;
  color: #fff;
}

.profile-picture__edit input {
  display: none;
}
